@model FileUpload

@{
    ViewBag.Title = "Upload File";
}

<h2>Upload File</h2>

<form asp-action="Upload" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" name="UploadedFile" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
