<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("head")
</head>

<body>
    
    <div class="container">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="@Url.Action("Index", "Home")" class="site_title">
                                <i class="fa fa-graduation-cap"></i>
                                <span>Exam System Admin</span>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        @await Html.PartialAsync("MenuProfileQuickInfo")
                        <!-- /menu profile quick info -->

                        <br/>

                        <!-- sidebar menu -->
                        @await Html.PartialAsync("SidebarMenu")
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        @await Html.PartialAsync("MenuFooterButtons")
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                @await Html.PartialAsync("TopNav")
                <!-- /top navigation -->
                @RenderBody()

                <!-- footer content -->
              
                <!-- /footer content -->
            </div>
        </div>
       
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            All Rights Reserved &copy; 2024 - Egyptian Engineers Syndicate.
        </div>
    </footer>
    @await Html.PartialAsync("JavaLib")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
