@{
    ViewData["Title"] = "Home Page";
}
@section Head {
    @Html.Partial("head") // Include the head partial
}
@section content {

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="button-container">
        <button type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="uploadfile">Import Questions</a>
        </button>
        <button type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="StudentResults">Students Results</a>
        </button>
        <!-- New Button for Add Exam -->
        <button type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="AddExam">Add Exam</a>
        </button>
    </div>
</div>
}
@section javaLib {
    @Html.Partial("javaLib") // 
}


